.contact-header {
    margin:0 30%;
}

.contact {
    padding: 3rem 2.5rem;
    margin:2% 30%;
    align-items: center;
    justify-content: center;
    border-width: 1px;
    border-radius: 10px;
    border-style: none;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;
}

.form-group {
    position: relative;
    margin-bottom: 1rem;
}

label {
    line-height: 1.75rem;
    font-size: 0.875rem;
}

textarea {
    height: 8rem;
    resize: none;
    line-height: 1.5rem;
}

input, textarea {
    width: 100%;
    background-color: #111827;
    border-radius: 0.25rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(55, 65, 81);
    font-size: 1rem;
    line-height: 1.5rem;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: #FFFFFF;
    padding: 0.25rem 0.75rem;
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

input:focus, textarea:focus {
    border-color: rgb(99, 102, 241);
    box-shadow: rgb(49, 46, 129) 0px 1px 4px;
}

.btn {
    color: #FFFFFF;
    background-color: rgb(99, 102, 241);
    border-width: 0px;
    padding: 0.5rem 1.5rem;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(79, 70, 229); 
}

.btn:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}